name: "build-test"
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - master

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: |
        npm install
        npm run all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: |
          echo "$GITHUB_CONTEXT"
          set
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # important!
    - name: Install PHP_CodeSniffer
      run: |
              curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
              php phpcs.phar --version

    - uses: ./
      with: 
        files: "**.php"
        phpcs_path: php phpcs.phar
        standard: '__tests__/phpcs.xml'
